<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Kite Login page validation">
  <parameter name="browser" value="chrome" />
    <classes>
      <class name="com.zerodha.kite.tests.KiteLoginPagesValidationWithoutDD"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Kite Login Test">
  <parameter name="browser" value="chrome" />
    <classes>
      <class name="com.zerodha.kite.tests.KiteLoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
